{% extends 'main.html' %}
{% block content %}
<div class="card container" style="width:45%">
    <h2> Create Account </h2>
    
    <form method="POST">
    {% csrf_token %}
    <input type="text" name="username" placeholder="username" required><br><br>
    <input type="email" name="email" placeholder="email" required><br><br>
    <input type="password" name="password" placeholder="password" required><br><br>
    <button class ="btn-neon" type ="submit"> Register</button>
    
</form>
<p>Already Have an account?<a class="btn-link" href="/login/"> Login</a></p>

</div>
{% endblock content %}